.container-footer{
    display: flex;
}

button {
    flex-basis: 2%;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin-right: 5%;
}

input {
    flex-basis: 60%;
    flex-grow: 1;
    flex-wrap: nowrap;
}