.navbar-brand .navbar-item {
    transition: all 0.3s;
    cursor: pointer;
}

.navbar-brand .navbar-item:hover {
    transform: scale(1.05);
}

button > .button {
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.02);
}